@using SmartFast.Web.BaseLibrary
@using YHPT.SystemInfo.Model
@{
    ViewBag.Title = "道路桥梁信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "RoadBasicInfo")">@ViewBag.Title</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">新建</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER -->

<div class="portlet box purple">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
        <div class="actions">
            <a class="btn green" href="@Url.Action("Index", new { gridStage = Request.QueryString["gridStage"] })"><i class="fa  fa-mail-reply"></i>返回</a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form id="DataAdd" method="post" class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        图片<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" id="txtpicture" name="picture" value="" class="form-control" placeholder="图片">
                                <span class="add-on" title="预览" id="preview"><i class="icon-picture"></i></span>
                            </div>
                            <div id="uploader"></div>
                            <div id="fileQueue"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        道路<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownList("RoadID")
                    </div>
                    <label class="col-md-2 control-label">
                        桥名称<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtBridgeName" name="BridgeName" value="" class="form-control" placeholder="桥名称">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        结构类型<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtBridgeStructureStyle" name="BridgeStructureStyle" value="" class="form-control" placeholder="结构类型">
                    </div>

                    <label class="col-md-2 control-label">
                        正斜交角<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtInteractionAngle" name="InteractionAngle" value="" class="form-control" placeholder="正斜交角">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        桥梁跨数<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtBridgeSpanCount" name="BridgeSpanCount" value="" class="form-control" placeholder="桥梁跨数">
                    </div>

                    <label class="col-md-2 control-label">
                        跨径组合<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtBridgeSpanStyle" name="BridgeSpanStyle" value="" class="form-control" placeholder="跨径组合">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        桥面面积<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtBridgeSquare" name="BridgeSquare" value="" class="form-control" placeholder="桥面面积">
                    </div>

                    <label class="col-md-2 control-label">
                        桥梁长度<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtBridgeLength" name="BridgeLength" value="" class="form-control" placeholder="桥梁长度">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        桥梁宽度<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtBridgeWidth" name="BridgeWidth" value="" class="form-control" placeholder="桥梁宽度">
                    </div>

                    <label class="col-md-2 control-label">
                        车行道宽<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtDriveWayWidth" name="DriveWayWidth" value="" class="form-control" placeholder="车行道宽">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        人行道宽<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtPavementWidth" name="PavementWidth" value="" class="form-control" placeholder="人行道宽">
                    </div>

                    <label class="col-md-2 control-label">
                        主梁尺寸<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtMainBeamSize" name="MainBeamSize" value="" class="form-control" placeholder="主梁尺寸">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        主梁数量<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtMainBeamCount" name="MainBeamCount" value="" class="form-control" placeholder="主梁数量">
                    </div>

                    <label class="col-md-2 control-label">
                        支座形式<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtBearingStyle" name="BearingStyle" value="" class="form-control" placeholder="支座形式">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        桥面结构<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtBridgeRoadStructure" name="BridgeRoadStructure" value="" class="form-control" placeholder="桥面结构">
                    </div>

                    <label class="col-md-2 control-label">
                        伸缩缝形式<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtExpansionStyle" name="ExpansionStyle" value="" class="form-control" placeholder="伸缩缝形式">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        伸缩缝数量<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtExpansionCount" name="ExpansionCount" value="" class="form-control" placeholder="伸缩缝数量">
                    </div>

                    <label class="col-md-2 control-label">
                        主桥纵坡<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtMainBridgeLongitudinalSlope" name="MainBridgeLongitudinalSlope" value="" class="form-control" placeholder="主桥纵坡">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        主桥横坡<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtMainBridgeCrossSlope" name="MainBridgeCrossSlope" value="" class="form-control" placeholder="主桥横坡">
                    </div>

                    <label class="col-md-2 control-label">
                        栏杆长度<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtRailLength" name="RailLength" value="" class="form-control" placeholder="栏杆长度">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        栏杆结构<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtRailStructure" name="RailStructure" value="" class="form-control" placeholder="栏杆结构">
                    </div>

                    <label class="col-md-2 control-label">
                        护岸类型<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtBankRevetmentStyle" name="BankRevetmentStyle" value="" class="form-control" placeholder="护岸类型">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        盖梁尺寸<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtCappingSize" name="CappingSize" value="" class="form-control" placeholder="盖梁尺寸">
                    </div>

                    <label class="col-md-2 control-label">
                        基桩尺寸/根数<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtPileFeature" name="PileFeature" value="" class="form-control" placeholder="基桩尺寸/根数">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        给水管数量<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtWaterSupplyPipeCount" name="WaterSupplyPipeCount" value="" class="form-control" placeholder="给水管数量">
                    </div>
                    <label class="col-md-2 control-label">
                        燃气管数量<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtGasPipeCount" name="GasPipeCount" value="" class="form-control" placeholder="燃气管数量">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        给水管数量<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtWaterSupplyPipeCount" name="WaterSupplyPipeCount" value="" class="form-control" placeholder="给水管数量">
                    </div>
                    <label class="col-md-2 control-label">
                        电力管数量<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtElectricPowerCount" name="ElectricPowerCount" value="" class="form-control" placeholder="电力管数量">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        通讯电缆数量<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtCommsCableCount" name="CommsCableCount" value="" class="form-control" placeholder="通讯电缆数量">
                    </div>
                    <label class="col-md-2 control-label">
                        带班人<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownList("SubContLeaderInfoID")
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="button" class="btn green" id="sure">确定</button>
                        <a href="@Url.Action("Index")" class="btn default">取消</a>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
    @*@{ Html.RenderAction("BfOrgTree", "PlugIn"); }*@
</div>

@section scripts{
    <script src="~/Assets/global/Plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="~/Assets/global/Plugins/bootstrap-daterangepicker/moment.min.js"></script>
    <link href="~/Assets/global/Css/style-metronic.css" rel="stylesheet" />
    <script src="~/Assets/global/Plugins/bootstrap-treeview/bootstrap-treeview.js"></script>
    @Scripts.Render("~/Scripts/BridgeInfo/Add.js")
    <script type="text/javascript">
        var staticFileRoot = "@Url.StaticFile()";
    </script>
    <script type="text/javascript" src="@Url.StaticFile("/assets/scripts/flashupload.js")"></script>
    <script type="text/javascript">
        $('#uploader').FileUpload({
            'subfolder': 'GreenLandInfo',
            'callback': function (msg) {
                //msg.url为图片地址
                $("#txtpicture").val(msg.url);
                $("#preview").popover({ trigger: 'hover', html: true, placement: 'right ', content: "<img src='" + msg.url + "'/>" });
            }
        });

        if ($("#txtpicture").val()) {
            $("#preview").popover({ trigger: 'hover', html: true, placement: 'right ', content: "<img src='" + $("#txtpicture").val() + "'/>" });
        }
    </script>
}


