@using SmartFast.Web.BaseLibrary
@{
    ViewBag.Title = "道路桥梁信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model YHPT.SystemInfo.Model.YhManager.BridgeInfo
<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "BfUser")">@ViewBag.Title</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">编辑</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER -->

<div class="portlet box purple">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
        <div class="actions">
            <a class="btn green" href="@Url.Action("Index", new { gridStage = Request.QueryString["gridStage"] })"><i class="fa  fa-mail-reply"></i>返回</a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form id="formEdit" method="post" class="form-horizontal">
            <div class="form-body">
                @*<div class="form-group">
                    <label class="col-md-2 control-label">
                        图片<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <img src="@Model.picture" alt="" style="max-height:200px;max-width:500px;" />
                        <input type="text" id="txtpicture" name="picture" value="@Model.picture" class="form-control" placeholder="图片地址">
                        <span class="add-on" title="预览" id="preview"><i class="icon-picture"></i></span>
                        <div id="uploader"></div>
                        <div id="fileQueue"></div>
                    </div>
                </div>*@

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        道路编码<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="hidden" id="hidID" name="ID" value="@Model.ID" />
                        @Html.DropDownList("RoadID")
                    </div>

                    <label class="col-md-2 control-label">
                        桥名称<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtBridgeName" name="BridgeName"maxlength="100" value="@Model.BridgeName " class="form-control" placeholder="桥名称">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        结构类型<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtBridgeStructureStyle" name="BridgeStructureStyle"maxlength="100" value="@Model.BridgeStructureStyle" class="form-control" placeholder="结构类型">
                    </div>

                    <label class="col-md-2 control-label">
                        正斜交角<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtInteractionAngle"maxlength="100" name="InteractionAngle" value="@Model.InteractionAngle" class="form-control" placeholder="正斜交角">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        桥梁跨数<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtBridgeSpanCount" name="BridgeSpanCount"maxlength="100" value="@Model.BridgeSpanCount" class="form-control" placeholder="桥梁跨数">
                    </div>

                    <label class="col-md-2 control-label">
                        跨径组合<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtBridgeSpanStyle" name="BridgeSpanStyle"maxlength="100" value="@Model.BridgeSpanStyle" class="form-control" placeholder="跨径组合">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        桥面面积<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtBridgeSquare" name="BridgeSquare"maxlength="100" value="@Model.BridgeSquare" class="form-control" placeholder="桥面面积">
                    </div>

                    <label class="col-md-2 control-label">
                        桥梁长度<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtBridgeLength" name="BridgeLength"maxlength="100" value="@Model.BridgeLength" class="form-control" placeholder="桥梁长度">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        桥梁宽度<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtBridgeWidth" name="BridgeWidth"maxlength="100" value="@Model.BridgeWidth" class="form-control" placeholder="桥梁宽度">
                    </div>

                    <label class="col-md-2 control-label">
                        车行道宽<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtDriveWayWidth" name="DriveWayWidth"maxlength="100" value="@Model.DriveWayWidth" class="form-control" placeholder="车行道宽">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        人行道宽<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtPavementWidth" name="PavementWidth"maxlength="100" value="@Model.PavementWidth" class="form-control" placeholder="人行道宽">
                    </div>

                    <label class="col-md-2 control-label">
                        主梁尺寸<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtMainBeamSize" name="MainBeamSize" value="@Model.MainBeamSize" class="form-control" placeholder="主梁尺寸">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        主梁数量<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtMainBeamCount" name="MainBeamCount"maxlength="100" value="@Model.MainBeamCount" class="form-control" placeholder="主梁数量">
                    </div>

                    <label class="col-md-2 control-label">
                        支座形式<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtBearingStyle" name="BearingStyle"maxlength="100" value="@Model.BearingStyle" class="form-control" placeholder="支座形式">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        桥面结构<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtBridgeRoadStructure" name=" bridgeroadstructure"maxlength="100" value="@Model.BridgeRoadStructure" class="form-control" placeholder="桥面结构">
                    </div>

                    <label class="col-md-2 control-label">
                        伸缩缝形式<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtExpansionStyle" name="ExpansionStyle"maxlength="100" value="@Model.ExpansionStyle" class="form-control" placeholder="伸缩缝形式">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        伸缩缝数量<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtExpansionCount" name="ExpansionCount"maxlength="100" value="@Model.ExpansionCount" class="form-control" placeholder="伸缩缝数量">
                    </div>
                    <label class="col-md-2 control-label">
                        通讯电缆数量<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtCommsCableCount" name=" CommsCableCount"maxlength="100" value="@Model.CommsCableCount" class="form-control" placeholder="通讯电缆数量">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        主桥纵坡<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtMainBridgeLongitudinalSlope" name=" MainBridgeLongitudinalSlope"maxlength="100" value="@Model.MainBridgeLongitudinalSlope" class="form-control" placeholder="主桥纵坡">
                    </div>

                    <label class="col-md-2 control-label">
                        主桥横坡<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtMainBridgeCrossSlope" name="MainBridgeCrossSlope"maxlength="100" value="@Model.MainBridgeCrossSlope" class="form-control" placeholder="主桥横坡">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        栏杆长度<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtRailLength" name=" RailLength" maxlength="100" value="@Model.RailLength" class="form-control" placeholder="栏杆长度">
                    </div>

                    <label class="col-md-2 control-label">
                        栏杆结构<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtRailStructure" name="RailStructure" maxlength="100" value="@Model.RailStructure" class="form-control" placeholder="栏杆结构">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        护岸类型<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtBankRevetmentStyle" name=" BankRevetmentStyle" maxlength="100" value="@Model.BankRevetmentStyle" class="form-control" placeholder="护岸类型">
                    </div>

                    <label class="col-md-2 control-label">
                        盖梁尺寸<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtCappingSize" name="CappingSize" maxlength="100" value="@Model.CappingSize" class="form-control" placeholder="盖梁尺寸">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        基桩尺寸/根数<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtPileFeature" name=" PileFeature" maxlength="100" value="@Model.PileFeature" class="form-control" placeholder="基桩尺寸/根数">
                    </div>

                    <label class="col-md-2 control-label">
                        给水管数量<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtWaterSupplyPipeCount" name="WaterSupplyPipeCount" maxlength="100" value="@Model.WaterSupplyPipeCount" class="form-control" placeholder="给水管数量">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        燃气管数量<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtGasPipeCount" name=" GasPipeCount" maxlength="100" value="@Model.GasPipeCount" class="form-control" placeholder="燃气管数量">
                    </div>

                    <label class="col-md-2 control-label">
                        电力管数量<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtElectricPowerCount" name="ElectricPowerCount"maxlength="100" value="@Model.ElectricPowerCount" class="form-control" placeholder="电力管数量">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        带班人<span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownList("SubContLeaderInfoID")
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="button" class="btn red" id="sure">确定</button>
                            <a href="@Url.Action("Index", new { gridStage = Request.QueryString["gridStage"] })" class="btn default">取消</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
    @*@{ Html.RenderAction("BfOrgTree", "PlugIn"); }*@
</div>

@section scripts{
    <script src="~/Assets/global/Plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="~/Assets/global/Plugins/bootstrap-daterangepicker/moment.min.js"></script>
    <link href="~/Assets/global/Css/style-metronic.css" rel="stylesheet" />
    <script src="~/Assets/global/Plugins/bootstrap-treeview/bootstrap-treeview.js"></script>
    @Scripts.Render("~/Scripts/BridgeInfo/Edit.js")

    @*@Scripts.Render("~/Scripts/PulgIn/BfOrgTree.js")*@
    <script type="text/javascript">
        var staticFileRoot = "@Url.StaticFile()";
    </script>
    <script type="text/javascript" src="@Url.StaticFile("/assets/scripts/flashupload.js")"></script>
    <script type="text/javascript">
        $('#uploader').FileUpload({
            'subfolder': 'GreenLandInfo',
            'callback': function (msg) {
                //msg.url为图片地址
                $("#txtpicture").val(msg.url);
                $("#preview").popover({ trigger: 'hover', html: true, placement: 'right ', content: "<img src='" + msg.url + "'/>" });
            }
        });

        if ($("#txtpicture").val()) {
            $("#preview").popover({ trigger: 'hover', html: true, placement: 'right ', content: "<img src='" + $("#txtpicture").val() + "'/>" });
        }
    </script>

}

@*<script type="text/javascript">
        $(document).ready(function () {

            $("#Province").change(function () {
                $("#City").empty();
                $("#Area").empty();
                //$("#Region").empty();
                $.getJSON(url, { pid: $("#Province").val() }, function (data) {
                    $.each(data, function (i, item) {
                        $("<option></option>").val(item["Value"]).text(item["Text"]).appendTo($("#City"));
                    })
                });
            });

            $("#ProvinceName").val($("#Province option:selected").text());
            $("#CityName").val($("#City option:selected").text());
            $("#AreaName").val($("#Area option:selected").text());
        });
    </script>*@