@using SmartFast.Web.BaseLibrary
@{
    ViewBag.Title = "道路基本信息管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model YHPT.SystemInfo.Model.YhRoadbasicinfo.Roadbasicinfo
<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "RoadBasicInfo")">@ViewBag.Title</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">详情</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER -->
<div class="tabbable tabbable-custom">
    <ul class="nav nav-tabs">
        <li><a href="#tab0" data-toggle="tab">市政图片</a></li>
        <li class="active"><a href="#tab1" data-toggle="tab">基本信息</a></li>
        <li><a href="#tab2" data-toggle="tab">市政信息</a></li>
        <li><a href="#tab3" data-toggle="tab">环卫信息</a></li>
        <li><a href="#tab4" data-toggle="tab">绿化信息</a></li>
        <li><a href="#tab5" data-toggle="tab">下水道信息</a></li>
        <li><a href="#tab6" data-toggle="tab">桥梁信息</a></li>
        <li><a href="#tab7" data-toggle="tab">行道树信息</a></li>
        <li><a href="#tab8" data-toggle="tab">全景地图</a></li>
        <li><a href="#tab9" data-toggle="tab">平面地图</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab0">
            市政图片
            @*<div class="room-slide-image pull-left">
                <div class="r-slider">
                    <div class="slide-image-big">
                        @if (Model.House_IndoorImg != null && Model.House_IndoorImg.Count > 0)
                        { <ul class="list-unstyled" id="houseIndoorImg">
                            @foreach (var item in Model.House_IndoorImg)
                            {
                                <li class="diagram-img-big" style="opacity: 1;"> <a href="@item.ImgUrl"> <img alt="" style="width:100%;" title="" src="@StaticFileHelper.ImageFile(null, ImageUtil.GetThumbnail(item.ImgUrl))" /></a> </li> }
                        </ul> }
                        else
                        { <ul class="list-unstyled"> <li class="diagram-img-big" style="opacity: 1;"> <a class="mfp-zoom" href="#"> <img alt="" title="" src="@StaticFileHelper.ImageFile(null, " ")" /> </a> </li> </ul> }
                    </div> <div class="slide-image-small">
                        <div class="image-prev img-navigation" style="display: block;">上一张</div> <div class="image-list">
                            @if (Model.House_IndoorImg != null && Model.House_IndoorImg.Count > 0)
                            { <ul class="image-list-content list-unstyled">
                                @foreach (var item in Model.House_IndoorImg)
                                {
                                    <li><img class="" width="66" height="44" title="" alt="" src="@StaticFileHelper.ImageFile(null,ImageUtil.GetThumbnail(item.ImgUrl))"></li>}
                            </ul> }
                        </div> <div class="image-next img-navigation" style="display: block;">下一张</div>
                    </div>
                </div>*@
        </div>
        <!--基本信息-->
        <div class="tab-pane active" id="tab1">
            <div class="portlet-body form-horizontal form-bordered form-row-stripped">
                <table class="imagetable">
                    <tr>
                        <th>道路编码</th>
                        <th>道路名称</th>
                        <th>道路等级</th>
                        <th>路面材料</th>
                        <th>桥梁数量</th>
                        <th>区域编码</th>
                        <th>最后修改时间</th>
                        <th>最后修改人</th>
                    </tr>
                    <tr>
                        <td>
                            @Model.RoadCode
                            <input type="hidden" id="lnt" value="@Model.longitude" />
                            <input type="hidden" id="lat" value="@Model.latitude" />
                        </td>
                        <td>@Model.RoadName</td>
                        <td>@Model.RoadLevel</td>
                        <td>@Model.RoadMaterial</td>
                        <td>@Model.BridgeNumber</td>
                        <td>@Model.AreaCode</td>
                        <td>@Model.LastModifiedTime</td>
                        <td>@Model.LastModifiedUser</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="tab2">
            <div class="portlet-body form-horizontal form-bordered form-row-stripped">
                <table class="imagetable">
                    <tr>
                        <th>道路编码</th>
                        <th>道路长度</th>
                        <th>道路面积</th>
                        <th>慢车道宽度</th>
                        <th>慢车道面积</th>
                        <th>快车道宽度</th>
                        <th>人行道宽度</th>
                        <th>人行道面积</th>
                        <th>侧石长度</th>
                        <th>平石长度</th>
                        <th>窨井数量</th>
                        <th>进水口数量</th>
                        <th>排放口数量</th>
                        <th>路牌数量</th>
                        <th>人行隔离</th>
                        <th>车行隔离</th>
                        <th>机非隔离</th>
                        <th>带班人</th>
                    </tr>
                    @foreach (var item in Model.RoadMunicipalInfoList)
                    {
                        <tr>
                            <td>@item.RoadID</td>
                            <td>@item.RoadLength</td>
                            <td>@item.RoadSquare</td>
                            <td>@item.SlowLaneWidth</td>
                            <td>@item.SlowLaneSquare</td>
                            <td>@item.FastLaneWidth</td>
                            <td>@item.PavementWidth</td>
                            <td>@item.PavementSquare</td>
                            <td>@item.CurbSideLength</td>
                            <td>@item.CurbFlatLength</td>
                            <td>@item.InspectionShaftCount</td>
                            <td>@item.WaterInletCount</td>
                            <td>@item.WaterOutletCount</td>
                            <td>@item.GuideBoardCount</td>
                            <td>@item.PersonDivideLine</td>
                            <td>@item.VehicleDivideLine</td>
                            <td>@item.VehicleBicycleDivideLine</td>
                            <td>@item.LeaderCode</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="tab-pane" id="tab3">
            <div class="portlet-body form-horizontal form-bordered form-row-stripped">
                <table class="imagetable">
                    <tr>
                        <th>道路编码</th>
                        <th>机械清扫长度</th>
                        <th>机械冲洗长度</th>
                        <th>人工清扫面积</th>
                        <th>人工冲洗面积</th>
                        <th>定额岗位</th>
                        <th>带班人</th>
                    </tr>
                    @foreach (var item in Model.SanitationInfoList)
                    {
                        <tr>
                            <td>@item.RoadID</td>
                            <td>@item.MachineCleanLength</td>
                            <td>@item.MachineWashLength</td>
                            <td>@item.ManualWashSquare</td>
                            <td>@item.ManualQuota</td>
                            <td>@item.DustbinCount</td>
                            <td>@item.LeaderCode <input type="hidden" id="lnt" value="@item.longitude" /> <input type="hidden" id="lat" value="@item.latitude" /></td>
                        </tr>
                    }
                </table>
                <!-- END FORM-->
            </div>
        </div>
        <div class="tab-pane" id="tab4">
            <div class="portlet-body form-horizontal form-bordered form-row-stripped">
                <table class="imagetable">
                    <tr>
                        <th>道路编码</th>
                        <th>绿地编码</th>
                        <th>绿地名称</th>
                        <th>一级绿地面积</th>
                        <th>二级绿地面积</th>
                        <th>三级绿地面积</th>
                        <th>草花面积</th>
                        <th>带班人</th>
                    </tr>
                    @foreach (var item in Model.GenLandInfoList)
                    {
                        <tr>
                            <td>@item.RoadID</td>
                            <td>@item.GreenLandCode</td>
                            <td>@item.GreenLandName.0 n  n</td>
                            <td>@item.FirstLevelSquare</td>
                            <td>@item.SecondLevelSquare</td>
                            <td>@item.ThirdLevelSquare</td>
                            <td>@item.FlowerSquare</td>
                            <td>@item.LeaderCode</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="tab-pane" id="tab5">
            <div class="portlet-body form-horizontal form-bordered form-row-stripped">
                <table class="imagetable">
                    <tr>
                        <th>道路编码</th>
                        <th>连管长度</th>
                        <th>小型雨水管长度</th>
                        <th>中型雨水管长度</th>
                        <th>大型雨水管长度</th>
                        <th>污水管长度</th>
                        <th>带班人</th>
                    </tr>
                    @foreach (var item in Model.SewerinfoInfoList)
                    {
                        <tr>
                            <td>@item.RoadID</td>
                            <td>@item.ConnectingPipeLength</td>
                            <td>@item.SamllRainPipeLength.0 n  n</td>
                            <td>@item.MiddleRainPipeLength</td>
                            <td>@item.BigRainPipeLength</td>
                            <td>@item.DirtyWaterPipeLength</td>
                            <td>@item.LeaderCode</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="tab-pane" id="tab6">
            <div class="portlet-body form-horizontal form-bordered form-row-stripped">
                <table class="imagetable">
                    <tr>
                        <th>桥梁ID</th>
                        <th>桥名称</th>
                        <th>结构类型</th>
                        <th>正斜交角</th>
                        <th>桥梁跨数</th>
                        <th>跨径组合</th>
                        <th>桥面面积</th>
                        <th>桥梁长度</th>
                        <th>桥梁宽度</th>
                        <th>车行道宽</th>
                        <th>人行道宽</th>
                        <th>主梁尺寸</th>
                        <th>主梁数量</th>
                        <th>支座形式</th>
                        <th>桥面结构</th>
                        <th>伸缩缝形式</th>
                        <th>伸缩缝数量</th>
                        <th>通讯电缆数量</th>
                        <th>主桥纵坡</th>
                        <th>主桥横坡</th>
                        <th>栏杆长度</th>
                        <th>栏杆结构</th>
                        <th>护岸类型</th>
                        <th>盖梁尺寸</th>
                        <th>基桩尺寸/根数</th>
                        <th>给水管数量</th>
                        <th>燃气管数量</th>
                        <th>电力管数量</th>
                        <th>带班人</th>
                    </tr>
                    @foreach (var item in Model.BridgeInfoList)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.BridgeName</td>
                            <td>@item.BridgeStructureStyle</td>
                            <td>@item.InteractionAngle</td>
                            <td>@item.BridgeSpanCount</td>
                            <td>@item.BridgeSpanStyle</td>
                            <td>@item.BridgeSquare</td>
                            <td>@item.BridgeLength</td>
                            <td>@item.BridgeWidth</td>
                            <td>@item.DriveWayWidth</td>
                            <td>@item.PavementWidth</td>
                            <td>@item.MainBeamSize</td>
                            <td>@item.MainBeamCount</td>
                            <td>@item.BearingStyle</td>
                            <td>@item.BridgeRoadStructure</td>
                            <td>@item.ExpansionStyle</td>
                            <td>@item.ExpansionCount</td>
                            <td>@item.CommsCableCount</td>
                            <td>@item.MainBridgeLongitudinalSlope</td>
                            <td>@item.MainBridgeCrossSlope</td>
                            <td>@item.RailLength</td>
                            <td>@item.RailStructure</td>
                            <td>@item.BankRevetmentStyle</td>
                            <td>@item.CappingSize</td>
                            <td>@item.PileFeature</td>
                            <td>@item.WaterSupplyPipeCount</td>
                            <td>@item.GasPipeCount</td>
                            <td>@item.ElectricPowerCount</td>
                            <td>@item.LeaderCode</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="tab-pane" id="tab7">
            <div class="portlet-body form-horizontal form-bordered form-row-stripped">
                <table class="imagetable">
                    <tr>
                        <th>行道树ID</th>
                        <th>小树数量</th>
                        <th>中树数量</th>
                        <th>大树数量</th>
                        <th>特大树数量</th>
                        <th>带班人</th>
                    </tr>
                    @foreach (var item in Model.StreetTreeInfoList)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.SamllTreeCount</td>
                            <td>@item.MiddleTreeCount.0 n  n</td>
                            <td>@item.BigTreeCount</td>
                            <td>@item.BiggerTreeCount</td>
                            <td>@item.LeaderCode</td>
                        </tr>
                    }
                </table>

            </div>
        </div>
        <div class="tab-pane" id="tab8">
            <div class="portlet-body form-horizontal form-bordered form-row-stripped">
                <div id="panorama"></div>
                <div id="result">
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab9">
            @*<div class="portlet-body form-horizontal form-bordered form-row-stripped">
                    <table class="table table-bordered elian-table"> <thead> <tr> <th> <a id="eat" href="javascript:void(0)">餐饮</a> </th> <th> <a id="supermarket" href="javascript:void(0)">超市</a> </th> <th> <a id="movie" href="javascript:void(0)">影院</a> </th> <th> <a id="hotel" href="javascript:void(0)">酒店</a> </th> <th> <a id="subway" href="javascript:void(0)">地铁站</a> </th> <th> <a id="school" href="javascript:void(0)">学校</a> </th> <th> <a id="bank" href="javascript:void(0)">银行</a> </th> <th> <a id="hospital" href="javascript:void(0)">医院</a> </th> <th> <a id="scenic" href="javascript:void(0)">景点</a> </th>  </thead> </table>
                </div>*@

            <div id="mapDiv" class="l-map"></div>

            <div class="traffic">
                <div class="traffic-des">
                    <div class="bus-way gongjiaoline">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span id="this_houseposition" class="input-group-addon input-group-uk">从  到</span> <input id="gongjiaoline_text" type="text" class="form-control  input-lg"> <span class="input-group-btn">
                                        <button id="busline_querybutton" class="btn btn-info" type="button">查询路线</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="gjTips" class="alert alert-danger fade  in" style="display: none;">
                            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button> <strong>请您输入有效的精确地址描述</strong>
                        </div>
                    </div> <!--bus-way-style --> <div class="col-sm-12"> <div id="dvPolicy" class="bus-way-style" style="margin-top:20px;"> <button type="button" class="btn  btn-default btn-warning selected" id="policy0"> 较快捷 <span class="caret"></span> </button> <button type="button" class="btn btn-default btn-warning" id="policy1"> 不坐地铁 <span class="caret"></span> </button> <button type="button" class="btn btn-default btn-warning" id="policy2"> 少换乘 <span class="caret"></span> </button> <button type="button" class="btn btn-default btn-warning" id="policy3"> 少步行 <span class="caret"></span> </button> </div> <div id="results" class="subway-result" style="margin-top:20px;"> </div>  </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=A4749739227af1618f7b0d1b588c0e85"></script>
<style>
    #panorama {
        width: 100%;
        height: 500px;
    }

    #result {
        width: 100%;
        font-size: 12px;
    }

    .l-map {
        height: 400px;
        width: 99%;
    }

    #s-map {
        height: 560px;
        width: 99%;
    }
</style>
<script type="text/javascript">
    var panorama = new BMap.Panorama('panorama');
    panorama.setPosition(new BMap.Point(106.537739, 29.58328));
    var labelPosition = new BMap.Point(106.537739, 29.58328);
    var labelOptions = {
        position: labelPosition,
        altitude: 5
    };//设置标注点的经纬度位置和高度
    var label = new BMap.PanoramaLabel('在此附近', labelOptions);
    panorama.addOverlay(label);//在全景地图里添加该标注
    panorama.setPov(label.getPov()); //修改点的视角，朝向该label

    label.addEventListener('click', function () { //给标注点注册点击事件
        panorama.setPov({ //修改点的视角
            pitch: 10,
            heading: 14
        });
    });

</script>
@*<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.2"></script>*@
<script src="~/Assets/map/mapdetail.js"></script>
@*<script type="text/javascript">        var ln = $("#lnt").val(); var la = $("#lat").val(); /* 百度地图API功能*/ var map = new BMap.Map("s-map"); var point = new BMap.Point(ln, la); map.centerAndZoom(point, 18);/*创建标注*/ var marker = new BMap.Marker(point);   /*将标注添加到地图中*/ map.addOverlay(marker); marker.setAnimation(BMAP_ANIMATION_BOUNCE); /*跳动的动画*/ map.enableScrollWheelZoom(true); </script>*@
