@using YHPT.Management.WebUI.Library
@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <link href="~/Assets/global/Plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" />
    <script src="~/Assets/global/Plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
    <script src="~/Scripts/jquery-easyui-1.3.4/plugins/jquery.form.js"></script>
    <script src="~/Assets/global/Plugins/bootstrap-daterangepicker/moment.min.js"></script>
    <script src="~/Assets/global/Plugins/bootstrap-fileinput/jquery.form.js"></script>
    <script type="text/javascript">
        var IsEdit = "@(ViewBag.AuthorizeKey.CanUpdate)";
        var IsDelete = "@(ViewBag.AuthorizeKey.CanDelete)";
        var IsAdd = "@(ViewBag.AuthorizeKey.CanAdd)";
    </script>
    @Scripts.Render("~/Scripts/BfUser/Index.js")
}
<input type="hidden" id="hidIsEdit" name="hidIsEdit" value="@(ViewBag.AuthorizeKey.CanUpdate+"")"/>
<input type="hidden" id="hidIsDelete" name="hidIsDelete" value="@(ViewBag.AuthorizeKey.CanDelete+"")"/>
<input type="hidden" id="hidIsAdd" name="hidIsAdd" value="@(ViewBag.AuthorizeKey.CanAdd+"")"/>
<input type="hidden" id="hidIsChangePwd" name="hidIsChangePwd" value="@(UserSession.Current.HasPermit("/BfUser/Index","ChangePwd") + "")"/>

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">用户管理 
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">用户管理</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER -->

<form id="searchContatiner" action="#" class="form-horizontal">
    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">用户编码</label>
                            <div class="col-md-8">
                                <input hidden="hidden" id="txtCODE" name="CODE" class="form-control">
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">用户名称</label>
                            <div class="col-md-8">
                                <input hidden="hidden" id="txtNAME" name="NAME" class="form-control">
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="col-md-12 col-md-offset-4">
                                <button type="submit" class="btn red" onclick="resetDtl();">查询</button>
                                <button type="reset" class="btn default" onclick="resetDtl();">清除</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">所属部门</label>
                            <div class="col-md-8">
                                <input hidden="hidden" id="txtOWNER_ID" name="OWNER_ID" class="form-control BfOrgSelector ">
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="portlet box purple">
    <div class="portlet-title">
        <div class="caption">
            <i class=""></i>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
        @if (ViewBag.AuthorizeKey.CanAdd)
        {
            <div class="actions">
                <a href="@Url.Action("Add")" class="btn green"><i class="fa fa-plus"></i>添加</a>
            </div>
        }
    </div>
    <div class="portlet-body">
        <table id="grid" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>用户编码
                    </th>
                    <th>用户名称
                    </th>
                    <th>所属部门名称
                    </th>
                    <th>有效时间
                    </th>
                    <th>最后更新密码时间
                    </th>
                    <th>最后更新时间
                    </th>
                    <th>操作
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

