@using SmartFast.Web.BaseLibrary
@{
    ViewBag.Title = "图片管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "ImgInfo")">@ViewBag.Title</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>@ViewBag.imgModuleName</li>
    </ul>
</div>
<form id="DataAdd" method="post" class="form-horizontal">
    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">模块</label>
                            <div class="col-md-8">
                                @*<input type="text" id="txtimgModule" name="imgModule" value="" class="form-control" placeholder="模块">*@
                                @Html.DropDownList("imgModule")
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">模块ID</label>
                            <div class="col-md-8">
                                <input type="text" id="txtimgModuleId" name="imgModuleId" readonly="readonly" value="@ViewBag.imgModuleId" class="form-control" placeholder="模块ID" />
                                <input type="hidden" id="txtRoadID" name="RoadID" readonly="readonly" value="@ViewBag.RoadID" />

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">图片类别</label>
                            <div class="col-md-8">
                                @*<input type="text" id="txtimgType" name="imgType" value="" class="form-control" placeholder="类别">*@
                                @Html.DropDownList("ImgType")
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">图片</label>
                            <div class="col-md-8">
                                <div class="controls">
                                    <div class="input-append">
                                        <input type="text" id="txtpicture" name="imgUrl" value="" class="form-control" placeholder="图片">
                                        <span class="add-on" title="预览" id="preview"><i class="icon-picture"></i></span>
                                    </div>
                                    <div id="uploader"></div>
                                    <div id="fileQueue"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">备注</label>
                            <div class="col-md-8">
                                <input type="text" id="txtremark" name="remark" value="" class="form-control" placeholder="备注">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <button type="button" class="btn green" id="sure">保存</button>
                            <input type=button value="取消" class="btn default" onclick="window.history.go(-1)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th style="width: 8px;">
                <input type="checkbox" id="checkall" class="group-checkable" />
            </th>
            <th>
                ID
            </th>
            <th>
                缩略图
            </th>
            <th>
                备注
            </th>
            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in ViewBag.imgList)
        {
            <tr>
                <td>
                    <input type="checkbox" class="checkboxes" name='ids' value='@m.ID' />
                </td>
                <td>
                    @m.ID
                </td>
                <td>
                    <img src="@m.thembUrl" style="width:60px;height:40px;" />
                </td>
                <td>
                    <input type="text" value="@m.remark" />
                </td>
                <td>
                    <button id="btnDelete" onclick="del(this,@m.ID)" class="btn red">删除</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    @Scripts.Render("~/Scripts/ImgInfo/Add.js")
    <script type="text/javascript">
        $("#imgModule").attr("readonly", true);
        var staticFileRoot = "@Url.StaticFile()";
    </script>
    <script type="text/javascript" src="@Url.StaticFile("/assets/scripts/flashupload.js")"></script>
    <script type="text/javascript">
        $('#uploader').FileUpload({
            'subfolder': 'ImgInfo',
            'callback': function (msg) {
                //msg.url为图片地址
                $("#txtpicture").val(msg.url);
                $("#preview").popover({ trigger: 'hover', html: true, placement: 'right ', content: "<img src='" + msg.url + "'/>" });
            }
        });

        if ($("#txtpicture").val()) {
            $("#preview").popover({ trigger: 'hover', html: true, placement: 'right ', content: "<img src='" + $("#txtpicture").val() + "'/>" });
        }
    </script>
}

