@{
    ViewBag.Title = "区域信息管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "AreaInfo")">@ViewBag.Title</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">新建</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER -->

<div class="portlet box purple">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
        <div class="actions">
            <a class="btn green" href="@Url.Action("Index", new { gridStage = Request.QueryString["gridStage"] })"><i class="fa  fa-mail-reply"></i>返回</a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form id="DataAdd" method="post" class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        业主<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtOwner" name="Owner" value="" class="form-control" placeholder="业主">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        标段<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtSection" name="Section" value="" class="form-control" placeholder="标段">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        项目部<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtDept" name="Dept" value="" class="form-control" placeholder="项目部">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        区域编码<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtAreaCode" name="AreaCode" value="" class="form-control" placeholder="区域编码">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        区域<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtArea" name="Area" value="" class="form-control" placeholder="区域">
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="button" class="btn green" id="sure">确定</button>
                        <a href="@Url.Action("Index")" class="btn default">取消</a>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
    @*@{ Html.RenderAction("BfOrgTree", "PlugIn"); }*@
</div>

@section scripts{
    <script src="~/Assets/global/Plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="~/Assets/global/Plugins/bootstrap-daterangepicker/moment.min.js"></script>
    <link href="~/Assets/global/Css/style-metronic.css" rel="stylesheet" />
    <script src="~/Assets/global/Plugins/bootstrap-treeview/bootstrap-treeview.js"></script>
    @Scripts.Render("~/Scripts/AreaInfo/Add.js")
}


