@model List<YHPT.SystemInfo.Model.BfCode.BfCodeDetailInfo>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
    <tr id="tr-@item.ID">
        @Html.Hidden("hiddenOldDtl", item.ID)
        <td>
            <input type='text' name="PdCode" class='form-control input-medium' value='@item.CODE'>
        </td>
        <td>
            <input type='text' name="PdName" class='form-control input-medium' value='@item.NAME'>
        </td>
        <td>
            <input type='text' name="SortNo" class='form-control input-small' value='@item.SEQ_NUM' onkeyup="this.value=this.value.replace(/\D/g,'')">
        </td>
        <td>
            @if (ViewBag.AuthorizeKey.CanDelete)
            {
                <a class="delete" href="javascript:deleteRow(@item.ID);">删除
                </a>
            }
            else
            {
                <label class="delete">删除
                </label>
            }
        </td>
    </tr>
    }
}
