@using SmartFast.Web.BaseLibrary
@{
    ViewBag.Title = "道路市政信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model YHPT.SystemInfo.Model.YhRoadMunicipalInfo.RoadMunicipalInfo
<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "BfUser")">@ViewBag.Title</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">编辑</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER -->

<div class="portlet box purple">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
        <div class="actions">
            <a class="btn green" href="@Url.Action("Index", new { gridStage = Request.QueryString["gridStage"] })"><i class="fa  fa-mail-reply"></i>返回</a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form id="formEdit" method="post" class="form-horizontal">
            <div class="form-body">
               @* <div class="form-group">
                    <label class="col-md-2 control-label">
                        图片<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <img src="@Model.pricture" alt="" style="max-height:200px;max-width:500px;" />
                        <input type="text" id="txtpicture" name="pricture" value="@Model.pricture" class="form-control" placeholder="图片地址">
                        <span class="add-on" title="预览" id="preview"><i class="icon-picture"></i></span>
                        <div id="uploader"></div>
                        <div id="fileQueue"></div>
                    </div>
                </div>*@

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        道路<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="hidden" id="hidID" name="ID" value="@Model.ID" />
                        @Html.DropDownList("RoadID")
                        @*<input type="text" id="txRoadID" name="RoadID" value="@Model.RoadID" class="form-control" placeholder="道路编码">*@
                    </div>

                    <label class="col-md-2 control-label">
                        道路长度(M)<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtRoadLength" name="RoadLength" maxlength="10" value="@Model.RoadLength" class="form-control" placeholder="道路长度">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        道路面积(M²)<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtRoadSquare" name="RoadSquare" maxlength="10" value="@Model.RoadSquare" class="form-control" placeholder="道路面积">
                    </div>

                    <label class="col-md-2 control-label">
                        非机动车道宽度(M)<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtSlowLaneWidth" maxlength="10" name="SlowLaneWidth" value="@Model.SlowLaneWidth" class="form-control" placeholder="慢车道宽度">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        非机动车道面积(M²)<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtSlowLaneSquare" name="SlowLaneSquare" maxlength="10" value="@Model.SlowLaneSquare" class="form-control" placeholder="慢车道面积">
                    </div>

                    <label class="col-md-2 control-label">
                        车行道宽度(M)<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtFastLaneWidth" name="FastLaneWidth" maxlength="10" value="@Model.FastLaneWidth" class="form-control" placeholder="快车道宽度">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        车行道面积(M²)<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtFastLaneSquare" name="FastLaneSquare" value="@Model.FastLaneSquare" class="form-control" placeholder="快车道面积">
                    </div>
                    <label class="col-md-2 control-label">
                        人行道宽度(M)<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtPavementWidth" name="PavementWidth" maxlength="10" value="@Model.PavementWidth" class="form-control" placeholder="人行道宽度">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        石材类侧平石(M)<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtStoneCurbSideLength" name="StoneCurbSideLength" value="@Model.StoneCurbSideLength" class="form-control" placeholder="石材类侧平石">
                    </div>
                    <label class="col-md-2 control-label">
                        人行道面积(M²)<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtPavementSquare" name="PavementSquare" maxlength="10" value="@Model.PavementSquare" class="form-control" placeholder="人行道面积">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        侧石(M)<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtCurbSideLength" name="CurbSideLength" maxlength="10" value="@Model.CurbSideLength" class="form-control" placeholder="侧石长度">
                    </div>

                    <label class="col-md-2 control-label">
                        平石(M)<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtCurbFlatLength" name="CurbFlatLength" maxlength="10" value="@Model.CurbFlatLength" class="form-control" placeholder="平石长度">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        窨井(座)<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtInspectionShaftCount" name="InspectionShaftCount" maxlength="10" value="@Model.InspectionShaftCount" class="form-control" placeholder="窨井数量">
                    </div>

                    <label class="col-md-2 control-label">
                        进水口(座)<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtWaterInletCount" name="WaterInletCount" value="@Model.WaterInletCount" class="form-control" placeholder="进水口数量">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        排放口(座)<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtWaterOutletCount" name="WaterOutletCount" maxlength="10" value="@Model.WaterOutletCount" class="form-control" placeholder="排放口数量">
                    </div>

                    <label class="col-md-2 control-label">
                        路名牌、公益、轨交牌（套）<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtGuideBoardCount" name="GuideBoardCount" maxlength="10" value="@Model.GuideBoardCount" class="form-control" placeholder="路牌数量">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        人行隔离（M）<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtPersonDivideLine" name="PersonDivideLine" maxlength="10" value="@Model.PersonDivideLine" class="form-control" placeholder="人行隔离">
                    </div>

                    <label class="col-md-2 control-label">
                        车行隔离（M）<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtVehicleDivideLine" name="VehicleDivideLine" maxlength="10" value="@Model.VehicleDivideLine" class="form-control" placeholder="车行隔离">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        机非隔离（M）<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtVehicleBicycleDivideLine" name="VehicleBicycleDivideLine" maxlength="10" value="@Model.VehicleBicycleDivideLine" class="form-control" placeholder="机非隔离">
                    </div>

                    <label class="col-md-2 control-label">
                        带班人<span class="required" aria-required="true">
                            *
                        </span>
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownList("SubContLeaderInfoID")
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="button" class="btn red" id="sure">确定</button>
                            <a href="@Url.Action("Index", new { gridStage = Request.QueryString["gridStage"] })" class="btn default">取消</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
    @*@{ Html.RenderAction("BfOrgTree", "PlugIn"); }*@
</div>

@section scripts{
    <script src="~/Assets/global/Plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="~/Assets/global/Plugins/bootstrap-daterangepicker/moment.min.js"></script>
    <link href="~/Assets/global/Css/style-metronic.css" rel="stylesheet" />
    <script src="~/Assets/global/Plugins/bootstrap-treeview/bootstrap-treeview.js"></script>
    @Scripts.Render("~/Scripts/RoadMunicipalInfo/Edit.js")

    @*@Scripts.Render("~/Scripts/PulgIn/BfOrgTree.js")*@
    <script type="text/javascript">
        var staticFileRoot = "@Url.StaticFile()";
    </script>
    <script type="text/javascript" src="@Url.StaticFile("/assets/scripts/flashupload.js")"></script>
    <script type="text/javascript">
        $('#uploader').FileUpload({
            'subfolder': 'GreenLandInfo',
            'callback': function (msg) {
                //msg.url为图片地址
                $("#txtpicture").val(msg.url);
                $("#preview").popover({ trigger: 'hover', html: true, placement: 'right ', content: "<img src='" + msg.url + "'/>" });
            }
        });

        if ($("#txtpicture").val()) {
            $("#preview").popover({ trigger: 'hover', html: true, placement: 'right ', content: "<img src='" + $("#txtpicture").val() + "'/>" });
        }
    </script>

}

@*<script type="text/javascript">
        $(document).ready(function () {

            $("#Province").change(function () {
                $("#City").empty();
                $("#Area").empty();
                //$("#Region").empty();
                $.getJSON(url, { pid: $("#Province").val() }, function (data) {
                    $.each(data, function (i, item) {
                        $("<option></option>").val(item["Value"]).text(item["Text"]).appendTo($("#City"));
                    })
                });
            });

            $("#ProvinceName").val($("#Province option:selected").text());
            $("#CityName").val($("#City option:selected").text());
            $("#AreaName").val($("#Area option:selected").text());
        });
    </script>*@